#ignore machine output
.DS_Store
out/*

#ignore local test files
TMP_*.jl

#ignore vscode settings
.vscode/

#ignore workbooks
workbooks/*.ipynb
workbooks/*.jl

#some temporary configs for making figures
config/sweep/*_OLD.json
config/simulation/LPS_stickiness_big_sim/defaults_OLD.json
config/simulation/LPS_stickiness_and_diff/defaults_OLD.json