#ignore machine output
.DS_Store
out/*

#ignore local test files
TMP_*.jl

#ignore vscode settings
.vscode/

#ignore workbooks
workbooks/*

#configs (aside from nominated ones)
#config/simulation/*
#config/sweep/*

!config/simulation/demo.json
!config/sweep/demo.json